html {
  scroll-behavior: smooth; }

body {
  background-color: #f4f4f4;
  color: #202040;
  font-family: "Roboto", sans-serif;
  position: relative; }

nav {
  background-color: #ff7c7c; }

section {
  height: 100vh;
  text-align: center; }

#home {
  padding-top: 150px; }

#profile-pic {
  border: 5px solid #ffbd69;
  height: 200px;
  width: 200px;
  border-radius: 200px;
  height: 35vw;
  width: 35vw;
  border-radius: 35vw; }
  @media (max-width: 657.14286px) {
    #profile-pic {
      height: 230px;
      width: 230px;
      border-radius: 230px; } }
  @media (min-width: 1000px) {
    #profile-pic {
      height: 350px;
      width: 350px;
      border-radius: 350px; } }

/* BEGIN OVER IMAGE */
.hover-wrap {
  position: relative; }

.hover-wrap .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background: rgba(32, 32, 64, 0.8);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s; }

.hover-wrap:hover .overlay {
  visibility: visible;
  opacity: 1; }

.hover-wrap .overlay p {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

/* END OVER IMAGE */
#hover-wrap-profile-pic.hover-wrap {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  height: 35vw;
  width: 35vw;
  border-radius: 35vw;
  margin: auto; }
  @media (max-width: 657.14286px) {
    #hover-wrap-profile-pic.hover-wrap {
      height: 230px;
      width: 230px;
      border-radius: 230px; } }
  @media (min-width: 1000px) {
    #hover-wrap-profile-pic.hover-wrap {
      height: 350px;
      width: 350px;
      border-radius: 350px; } }

#overlay-profile-pic.overlay {
  border: 5px solid #ffbd69;
  height: 200px;
  width: 200px;
  border-radius: 200px;
  height: 35vw;
  width: 35vw;
  border-radius: 35vw; }
  @media (max-width: 657.14286px) {
    #overlay-profile-pic.overlay {
      height: 230px;
      width: 230px;
      border-radius: 230px; } }
  @media (min-width: 1000px) {
    #overlay-profile-pic.overlay {
      height: 350px;
      width: 350px;
      border-radius: 350px; } }

h1 {
  font-family: "Anton", sans-serif;
  font-size: 60px;
  font-size: 7vw; }
  @media (max-width: 714.28571px) {
    h1 {
      font-size: 50px; } }
  @media (min-width: 1285.71429px) {
    h1 {
      font-size: 90px; } }

#about {
  background-color: #202040;
  color: #f4f4f4;
  padding-top: 150px; }

#portfolio {
  background-color: #ffbd69;
  color: #f4f4f4;
  min-height: 100vh;
  height: auto;
  padding-top: 150px; }

#section-404 {
  background-color: #ffbd69;
  color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center; }

#section-404 img {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  height: 35vw;
  width: 35vw;
  border-radius: 35vw;
  width: auto !important; }
  @media (max-width: 657.14286px) {
    #section-404 img {
      height: 230px;
      width: 230px;
      border-radius: 230px; } }
  @media (min-width: 1000px) {
    #section-404 img {
      height: 350px;
      width: 350px;
      border-radius: 350px; } }

.lang-progress {
  margin: 0px 10px; }

.progress {
  background-color: #f4f4f4;
  height: 15px;
  margin-top: 1rem;
  width: 25vw; }

.progress-bar {
  background-color: #ff7c7c; }

.progress-label {
  float: left;
  line-height: 15px;
  margin-right: 1em;
  text-align: right;
  width: 80px; }

.gallery-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px; }

.gallery-item {
  height: 250px;
  width: 250px;
  background-color: #f4f4f4;
  color: #202040;
  border-radius: 5px;
  margin: 5px; }

.gallery-item .overlay {
  border-radius: 5px 5px 0px 0px;
  height: 200px;
  margin: 5px; }

.gallery-item .overlay p {
  font-size: 16px; }

.gallery-image {
  border-radius: 5px 5px 0px 0px;
  background-size: 150%;
  background-position: top center;
  height: 80%;
  width: 100%; }

.gallery-text {
  padding: 10px; }

/*# sourceMappingURL=main.css.map */
