html {
  scroll-behavior: smooth; }

body {
  background-color: #1d3557;
  color: #f1faee;
  font-family: "Roboto", sans-serif;
  position: relative; }

nav {
  background-color: #e63946; }

section {
  height: 100vh;
  padding-top: 75px;
  text-align: center; }

/*******************
  SECTIONS
********************/
#home {
  padding-top: 150px; }

#about {
  background-color: #457b9d;
  color: #f1faee; }

#portfolio {
  background-color: #f1faee;
  color: #1d3557;
  min-height: 100vh;
  height: auto; }

/*******************
  IMAGE HOVER OVERLAYS
********************/
.hover-wrap {
  position: relative; }

.hover-wrap .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background: rgba(29, 53, 87, 0.9);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s; }

.hover-wrap:hover .overlay {
  visibility: visible;
  opacity: 1; }

.hover-wrap .overlay p {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

/*******************
  PROFILE PIC HOVER OVERLAY
********************/
#profile-pic {
  border: 5px solid #457b9d;
  height: 200px;
  width: 200px;
  border-radius: 200px;
  height: 35vw;
  width: 35vw;
  border-radius: 35vw; }
  @media (max-width: 657.14286px) {
    #profile-pic {
      height: 230px;
      width: 230px;
      border-radius: 230px; } }
  @media (min-width: 1000px) {
    #profile-pic {
      height: 350px;
      width: 350px;
      border-radius: 350px; } }

#hover-wrap-profile-pic.hover-wrap {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  height: 35vw;
  width: 35vw;
  border-radius: 35vw;
  margin: auto; }
  @media (max-width: 657.14286px) {
    #hover-wrap-profile-pic.hover-wrap {
      height: 230px;
      width: 230px;
      border-radius: 230px; } }
  @media (min-width: 1000px) {
    #hover-wrap-profile-pic.hover-wrap {
      height: 350px;
      width: 350px;
      border-radius: 350px; } }

#overlay-profile-pic.overlay {
  border: 5px solid #457b9d;
  height: 200px;
  width: 200px;
  border-radius: 200px;
  height: 35vw;
  width: 35vw;
  border-radius: 35vw; }
  @media (max-width: 657.14286px) {
    #overlay-profile-pic.overlay {
      height: 230px;
      width: 230px;
      border-radius: 230px; } }
  @media (min-width: 1000px) {
    #overlay-profile-pic.overlay {
      height: 350px;
      width: 350px;
      border-radius: 350px; } }

/*******************
  RESPONSIVE HEADERS
********************/
h1 {
  font-family: "Anton", sans-serif;
  font-size: 60px;
  font-size: 7vw; }
  @media (max-width: 714.28571px) {
    h1 {
      font-size: 50px; } }
  @media (min-width: 1285.71429px) {
    h1 {
      font-size: 90px; } }

/*******************
  404 PAGE
********************/
#section-404 {
  background-color: #e63946;
  color: #f1faee;
  display: flex;
  justify-content: center;
  align-items: center; }

#section-404 img {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  height: 35vw;
  width: 35vw;
  border-radius: 35vw;
  width: auto !important; }
  @media (max-width: 657.14286px) {
    #section-404 img {
      height: 230px;
      width: 230px;
      border-radius: 230px; } }
  @media (min-width: 1000px) {
    #section-404 img {
      height: 350px;
      width: 350px;
      border-radius: 350px; } }

/*******************
  PROGRESS BARS
********************/
.lang-progress {
  margin: 0px 10px; }

.progress {
  background-color: #f1faee;
  height: 15px;
  margin-top: 1rem;
  width: 25vw; }

.progress-bar {
  background-color: #e63946; }

.progress-label {
  float: left;
  line-height: 15px;
  margin-right: 1em;
  text-align: right;
  width: 80px; }

/*******************
  GALLERY
********************/
.gallery-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px; }

.gallery-item {
  height: 250px;
  width: 400px;
  background-color: #a8dadc;
  color: #1d3557;
  border-radius: 5px;
  margin: 5px; }

.gallery-item .overlay {
  border-radius: 5px 5px 0px 0px;
  height: 202px;
  margin: 5px; }

.gallery-item .overlay p {
  font-size: 16px; }

.gallery-image {
  border-radius: 5px 5px 0px 0px;
  background-size: 100%;
  background-position: top center;
  height: 80.8%;
  width: 100%; }

.gallery-text {
  padding: 10px; }

@media (max-width: 450px) {
  .gallery-item {
    width: 300px; }

  .gallery-image {
    background-size: 130% !important; } }

/*# sourceMappingURL=main.css.map */
